Coverage
PyQt5
PyWavelets==1.1
SciPy==1.5
babel
guidata==3.10
myst_parser
opencv-python-headless==4.5
packaging==20.0
pandas==1.2
plotpy
pre-commit
pydata-sphinx-theme
pylint
pytest
pytest-xvfb
qtpy
ruff
scikit-image==0.18
sphinx
sphinx-copybutton
sphinx-sitemap
sphinx_design
sphinx_intl
typing-extensions==3.10
